<!doctype html>
<html ng-app="app">
  <head>
    <title>Angular-UI-Gridster Examples</title>
    <!-- Gridster base styles -->
    <link rel="stylesheet" href="bower_components/gridster/dist/jquery.gridster.css">
    <link rel="stylesheet" href="demo.css">
  </head>
  <body ng-controller="DemoCtrl">
    <section class="demo">
      <div class="gridster-control">
        <button ng-click="addWidget()" class="btn-primary">Add Widget</button>
        <button ng-click="toggleDragging()" class="btn-primary">
          <span ng-if="!dragEnabled">Enable Dragging</span>
          <span ng-if="dragEnabled">Disable Dragging</span>
        </button>
        <div>
          <button class="btn-danger" ng-repeat="item in items" ng-click="remove(item)">Remove {{item.id}}</button>
        </div>
      </div>
      <div class="gridster">
        <ul ui-gridster="gridsterOptions" data-gridster-drag-enabled="dragEnabled" ng-model="items">
          <li data-id="{{item.id}}" ng-repeat="item in items" ui-gridster-item="item">
            <div>Widget {{item.id}}</div>
            <div>{{item.sizeX}} x {{item.sizeY}}</div>
            <div>{{item.row}} . {{item.col}}</div>
            <button ng-click="remove(item)">remove me</button>
          </li>
        </ul>
      </div>
    </section>
    <div>{{gridsterJson}}</div>
    <div>
      <pre>{{items | json}}</pre>
    </div>

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/gridster/dist/jquery.gridster.js"></script>

    <script src="dist/angular-ui-gridster.js"></script>
    <script src="js/basic.js"></script>

  </body>
</html>