<!doctype html>
<html ng-app="app">
  <head>
    <title>Angular-UI-Gridster Examples</title>
    <!-- Gridster base styles -->
    <link rel="stylesheet" href="bower_components/gridster/dist/jquery.gridster.css">
    <link rel="stylesheet" href="demo.css">
  </head>
  <body ng-controller="DemoCtrl">
    <section class="demo">
      <button ng-click="addWidget()">Add Widget</button>
      <div class="gridster">
        <ul ui-gridster="gridsterOptions" ng-model="items">
          <li data-id="{{item.id}}" ng-repeat="item in items" ui-gridster-item="item">
            <div>Widget {{item.id}}</div>
            <div>{{item.width}} x {{item.height}}</div>
            <div>{{item.row}} . {{item.col}}</div>
            <button ng-click="remove(this)">remove me</button>
            <button ng-click="increaseSize(this)">increase Size</button>
            <button ng-click="decreaseSize(this)">decrease Size</button>
            <button ng-click="serialize(this)">serialize</button>
          </li>
        </ul>
      </div>
    </section>
    <div>{{gridsterJson}}</div>
    <div>
      <pre>{{items | json}}</pre>
    </div>

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/gridster/dist/jquery.gridster.js"></script>

    <script src="dist/angular-ui-gridster.js"></script>
    <script src="js/basic.js"></script>

  </body>
</html>